.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal {
    margin: 40px 0;
    padding: 40px;
    background-color: #F5F7FA;
    width: 100%;
    position: relative;
    border-radius: 20px;
}

.closemodal {
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 10px;
}

.toggleButton {
    color: #409643;
    display: flex;
    justify-content: center;
}

.tglBtnDiv {
    display: flex;
    justify-content: center;
}


@media screen and (max-width:700px) {
    .modal {
        padding: 10px;
        background-color: #F5F7FA;
        width: 100%;
        position: relative;
        border-radius: 20px;
    }

}