.signupBtn{
  border-radius: 6px;
  width: 95px;  
  height:44px ;
  outline: 0;
  color: #fff;
  box-sizing: border-box;
  font-weight: 500;
  background-color: #409643;
}

.loginBtn{
  padding: 0 5px;
  font-weight: 500;
  color: #409643;
}
.logoText{
  display: inline-block;
  font-weight: 700;
  color: #263238;
  font-size: 20px;
  margin-left: 10px;
}


@media screen and (max-width:800px){
  .logoText{
    display: none;
  }
  .signupBtn{
    width: 80px;
    border-radius: 6px;
    outline: 0;
    color: #fff;
    box-sizing: border-box;
    font-weight: 500;
    background-color: #409643;
    font-size: 14px;
  }
  
  .loginBtn{
    padding: 0 5px;
    font-weight: 500;
    color: #409643;
    font-size: 14px;
  }
}


